#login-logo{
  background: black;
  border: gold;
  height: 300px;
  width: auto;
}

#nav-login {
  background: black;
}

#login {
  background-image: url(/images/background_3.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#login-body{
  color: white;
}

#login-container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}